body {
   background-color: #add8e6;   
}

h1{   
    color:#0db13ebb;
}

p {
    color:#680249
}

h2{
    color:#074858;
}

li {
    color:#8a8700bb
}

dt {
    color:#ac064bbb
}

dd {
    color:#770707
}